<form style="border:1px solid #ccc;padding:3px;text-align:center;"
    action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow"
    onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=beyond-the-loop', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
    <!-- <p class="subscribe-form">Already done with all the posts, and hungry for more?</p>
    <p class="subscribe-form">Get updates whenever I put something out! (and only then)</p> -->
    {% if page.call_to_action %}
        {% for call_to_action_line in page.call_to_action %}
            <p class="subscribe-form">{{call_to_action_line}}</p>
        {% endfor %}
    {% else %}
            <p class="subscribe-form">Get notified of everything that happens!</p>
    {% endif %}
    <p><input class="subscribe-form" type="text" style="width:50%" name="email" placeholder="Your email goes here." /></p><input type="hidden" value="beyond-the-loop"
        name="uri" /><input type="hidden" name="loc" value="en_US" />
        <input class="subscribe-form" type="submit" id="subscribe-button" value="Subscribe!" />
    <p class="subscribe-form">Delivered by <a href="https://feedburner.google.com" target="_blank">FeedBurner</a>. It's by Google, so you know it's good.</p>
</form>